In [1]:
import sys
sys.path.append("../")

import pandas as pd

# Downloading and Loading the Data

In [2]:
from src.data_generator import DataGenerator

data_generator = DataGenerator()
# data_generator()

No need to create the dataset again as it has already been generated and made available in the repository.

In [3]:
df = pd.read_csv("../data/nasdaq_adj_closing_prices.csv.gz", compression="gzip")
df

,Date,AAL,AAON,AAPL,ABAT,ABCB,ABL,ABNB,ACAD,ACCD,...,ZION,ZIONL,ZIONO,ZIONP,ZM,ZNTL,ZS,ZUMZ,ZYME,ZYXI
0,1962-01-02,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1962-01-03,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1962-01-04,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1962-01-05,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1962-01-08,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15550,2023-10-11,12.48,59.060001,179.800003,6.88,39.330002,6.56,130.000000,23.379999,8.41,...,35.650002,24.900000,24.969999,18.850000,64.820000,19.180000,173.050003,17.120001,6.495,8.05
15551,2023-10-12,12.06,57.419998,180.710007,7.14,38.700001,6.67,125.970001,22.639999,7.28,...,35.200001,24.850000,25.000000,18.865101,63.470001,18.750000,170.649994,16.500000,6.420,7.82
15552,2023-10-13,11.72,56.160000,178.850006,7.54,37.660000,6.29,124.080002,23.139999,7.02,...,34.570000,24.889999,24.860001,18.500000,62.750000,18.940001,168.520004,15.810000,6.500,7.97
15553,2023-10-16,11.94,57.630001,178.720001,7.64,38.490002,6.40,125.190002,23.780001,7.16,...,35.919998,24.980000,25.010000,18.620001,63.180000,18.770000,172.210007,16.860001,7.050,8.12
15554,2023-10-17,11.94,57.320000,177.149994,7.10,38.750000,6.50,125.709999,23.400000,7.22,...,36.740002,24.950001,25.080000,18.601700,63.840000,18.750000,172.289993,17.690001,7.250,8.37